<footer class="footer">
    <a href="#">
        <div class="slider">
            <div class="cube-box">
                <div class="slide x"></div>
                <div class="slide y"></div>
                <div class="slide z"></div>
            </div>
        </div>
    </a>

    <a href="#">
        <div class="slider">
            <div class="cube-box">
                <div class="slide x"></div>
                <div class="slide y"></div>
                <div class="slide z"></div>
            </div>
        </div>
    </a>
</footer>