<nav class="navbar navbar-expand-lg">
    <div class="container-fluid container-xxl">
        <!-- <a class="navbar-brand" href="#">BS</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false"
            aria-label="Toggle navigation" (click)="toggleNavbar()">
            <fa-icon class="icon" [icon]="faBars"></fa-icon>
        </button>
        <div class="collapse navbar-collapse mobile-menu" [ngClass]="{'show': navbarOpen}">
            <div class="navbar-nav">
                <div class="offcanvas-header">
                    <button class="navbar-toggler" (click)="toggleNavbar()" [ngClass]="{'show': navbarOpen}">
                        <fa-icon class="icon" [icon]="faTimes"></fa-icon>
                    </button>
                </div>
                <a class="nav-link" aria-current="page" href="#">
                    <fa-icon class="icon icon-mobile-menu" [icon]="faHome"></fa-icon>{{'menuHome' | translate}}
                </a>
                <a class="nav-link" href="#">
                    <fa-icon class="icon icon-mobile-menu" [icon]="faUserAlt"></fa-icon>{{'menuAboutMe' | translate}}
                </a>
                <a class="nav-link" href="#">
                    <fa-icon class="icon icon-mobile-menu" [icon]="faLaptop"></fa-icon>{{'menuProjects' | translate}}
                </a>
                <a class="nav-link" href="#">
                    <fa-icon class="icon icon-mobile-menu" [icon]="faProjectDiagram"></fa-icon>{{'menuTechnologies' |
                    translate}}
                </a>
                <a class="nav-link" href="#">
                    <fa-icon class="icon icon-mobile-menu" [icon]="faEnvelope"></fa-icon>{{'menuContact' | translate}}
                </a>
            </div>
        </div>
    </div>
</nav>