.space{
    height: 150px;
}

.title-box{
    color: white;
    text-align: center;
    margin-top: 50px;

    &__title{
        font-size: 36px;
    }

    &__subtitle{
        font-size: 28px;
    }

    &__text{
        padding: 10px;
    }
}