
.buttons-container {
    padding-top: 12px;
    text-align: right;
}

.buttons-container-pl,.buttons-container-en {
        position: relative;
        color: white;
}

.buttons-container-pl{
        margin-right: 3px;
}

.buttons-container-pl::after{
        content: "";
        position: absolute;
        right: -3px;
        top: 3px;
        bottom: 0px;
        height: 18px;
        width: 2px;
        background-color: white;
        transform: rotate(20deg);    
        filter: blur(.5px);
}

.active {
    color: rgb(95, 216, 95);
}
